*{
    box-sizing: border-box;
}

.myheader:hover{
    text-decoration: underline;
    background: salmon;
    padding: 10px;
    border-radius: 5px;

}

.navbar-nav li a:hover{
    background: rgb(41, 69, 158);
    color: #fff;
    border-radius: 5px;
}
.pagination li a:hover{

    background: rgb(76, 78, 73);
    color: #fff;
}
.card{
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 1px 10px 10px 8px wheat;
}
.card2{
    transition: 0.5s;
}
.card2:hover{
    transform: translateY(-20px);
    box-shadow: 1px 10px 10px 8px rgb(126, 187, 238);
}
.card3{
    transition: 0.5s;
}
.card3:hover{
    transform: translateY(-20px);
    box-shadow: 1px 10px 10px 8px rgba(38, 88, 29, 0.74);
}
.card4{
    transition: 0.5s;
}
.card4:hover{
    transform: translateY(-20px);
    box-shadow: 1px 10px 10px 8px rgba(163, 163, 163, 0.883);
}
table tr{
    background: indianred;
    color: #fff;
}
.form-group label span{
    color: red;
}
#feedback{
    background: #0d0442;
}
.hr-style{
    border: 5px dotted #fff;
    border-bottom: none;
    width: 50px;
    margin: auto;
}
.carousel-item{
    padding: 5% 10%;
    text-align: center;
   
}
.carousel-item img{
    width: 100px;
    margin: auto;
}
.carousel-item p{
    font-style: italic;
  }